@font-face {
  font-family: 'bukuwarung';
  src:  url('fonts/bukuwarung.eot?axsycg');
  src:  url('fonts/bukuwarung.eot?axsycg#iefix') format('embedded-opentype'),
    url('fonts/bukuwarung.ttf?axsycg') format('truetype'),
    url('fonts/bukuwarung.woff?axsycg') format('woff'),
    url('fonts/bukuwarung.svg?axsycg#bukuwarung') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bukuwarung' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
  content: "\e90a";
}
.icon-chevron-right:before {
  content: "\e90b";
}
.icon-chevron-up:before {
  content: "\e90c";
}
.icon-chevron-down:before {
  content: "\e900";
}
.icon-copy:before {
  content: "\e901";
}
.icon-map:before {
  content: "\e902";
}
.icon-notif:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-upload:before {
  content: "\e906";
}
.icon-X:before {
  content: "\e907";
}
.icon-add:before {
  content: "\e908";
}
.icon-calendar:before {
  content: "\e909";
}
